body{
	background-color: white;
}
.welcomemsg{
	font-family: verdana;
	font-size: 20px;
	text-overflow: clip;
	letter-spacing: 2px;
	text-align: center;
	width: 900px;
	top:280px;
	left:240px;
	position: absolute;
}
.profilepp{
	height: 70px;
	border-radius: 10px;
	top:130px;
	left: 610px;
	position: absolute;
}
.name{
	left:610px;
	top:190px;
	position: absolute;
	color: #4a161a;
	font-family: verdana;
	font-size: 25px;
	font-weight: bold;
}
.btn{
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: verdana;
    font-size: 20px;
    color: #ffffff;
    background-color: #4a161a;
    border: none;
    margin-right: -50%;
    transform: translate(-50%, 50%);
    left: 50%;
    top: 450px;
    position: absolute;
}

}