body{
	background-color: #C19434;
}
.welcomemsg{
	font-family: verdana;
	font-size: 20px;
	color: white;
	text-overflow: clip;
	letter-spacing: 2px;
	text-align: center;
	width: 900px;
	top:280px;
	left:240px;
	position: absolute;
}
.profilepp{
	width: 70px;
	height: 70px;
	border-radius: 10px;
	top:130px;
	left: 630px;
	position: absolute;
}
.name{
	left:610px;
	top:190px;
	position: absolute;
	color:#34421E;
	font-family: verdana;
	font-size: 25px;
	font-weight: bold;
}
.btn{
	float: left;
	margin-left: 510px;
	margin-top: 520px;
	border:none;
	font-size: 25px;
	font-family: verdana;
	background-color: #34421E;
	width: 300px;
	height: 50px;
	cursor: context-menu;
}